{% extends 'polls/main_layout.html' %}
{% block title %}Polls - Home{% endblock %}

{% block body %}
    {% if object_list %}
        <ul style="list-style:none;">
        {% for question in latest_question_list %}
            <li style="list-style:none;"><a style="text-decoration:none;" href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock %}
